# Dependencies
node_modules/

# Build Output
dist/
out/
build/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
squashfs-root/
packaging/aur/openanime/pkg/
packaging/aur/openanime/src/
packaging/aur/openanime/*.pkg.tar.zst
packaging/aur/openanime/OpenAnime-Linux/
