[Desktop Entry]
Version=1.0
Type=Application
Name=OpenAnime
Comment=WebGPU destekli anime izleme uygulaması
Exec=openanime %u
Icon=io.github.tuanapi.OpenAnime
Terminal=false
Categories=AudioVideo;Video;Player;
MimeType=x-scheme-handler/openanime;
StartupWMClass=OpenAnime
PrefersNonDefaultGPU=true
